.login-ui .login-dialog .logo {
        background-image: url('app/ext/tempnamespace/images/logo-placeholder.png');
	width: 9em;
	-webkit-background-size: 9em auto;
}
div.login-ui {
	background: #082647;
	background-color: #0a2d54;
}
.login-ui .login-dialog {
	background-color: #ededed;
}
